<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

<div th:fragment="results-list">
    <table class="job-listing">
        <tr th:each="job : ${jobs}">

            <td th:each="item : ${job}">
                <ul>

                    <li style="color:blue">ID:
                           <span style="color:black" th:text="${item.getId()}"></span>
                    </li>
                    <li style="color:blue">Name:
                        <span style="color:black" th:text="${item.getName()}"></span>
                    </li>
                    <li style="color:blue">Employer:
                        <a th:href="@{/list/jobs(column=employer,value=${item.getEmployer()})}" th:text="${item.getEmployer()}"></a>
                    </li>
                    <li style="color:blue">Location:
                        <a th:href="@{/list/jobs(column=location,value=${item.getLocation()})}" th:text="${item.getLocation()}"></a>
                    </li>
                    <li style="color:blue">Position Type:
                        <a th:href="@{/list/jobs(column=positionType,value=${item.getPositionType()})}" th:text="${item.getPositionType()}"></a>
                    </li>
                    <li style="color:blue">Skill:
                        <a th:href="@{/list/jobs(column=coreCompetency,value=${item.getCoreCompetency()})}" th:text="${item.getCoreCompetency()}"></a>
                    </li>


                </ul>
            </td>
        </tr>
    </table>
</div>

</body>
</html>